.footer {
  background: #ED4262;
  opacity: .85;
  height: 50px;
  position: relative;
  color: black;
  text-shadow: 1px 0.5px #D4AF37;
  overflow: auto;
}

.footer > .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ED4262;
  opacity: .90;
  padding: 8px;
  font-family: "beynoregular";
  font-weight: 500;

}

.footer > .bottom > img {
  width: 20px;
  position: relative;
  top: 3px;
  left: 2px;
  background: black;
}
